<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Welcome to HyperJob!</h2>
<!--<div><li>
    <a href="/login"> Login page</a>
</li></div>-->
<div>
    <li>
        <a href="/signup">Sign up Page</a>
    </li>
</div>
<div>
    <li>
        <a href="/vacancies">Vacancy list</a>
    </li>
</div>
<div>
    <li>
        <!--<a href="/resumes" >Resume list</a>-->
        <a href="/delete"> remove vacancy </a>
    </li>
</div>
<div>
    <li>
        <a href="/update"> update vacancy </a>
    </li>
</div>
<div>
    <li>
        <a href="/home">Personal profile</a>
    </li>
</div>
</body>
</html>